@use "../custom" as *;
@use "../components/mixins" as *;

.about {
  background: rgb(255,53,58);
  background: -moz-linear-gradient(180deg, rgba(255,53,58,1) 74%, rgba(168,42,42,1) 98%);
  background: -webkit-linear-gradient(180deg, rgba(255,53,58,1) 74%, rgba(168,42,42,1) 98%);
  background: linear-gradient(180deg, rgba(255,53,58,1) 74%, rgba(168,42,42,1) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff353a",endColorstr="#a82a2a",GradientType=1);
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;

  padding-bottom: 50px;

  .get-in-touch {
    text-decoration: none;
  }
}

#intro-text {
  @include media-breakpoint-down(md) {
    margin-bottom: 15px;
  }
  
}

#play-btn {
  position: relative;
  top: 45px;
  color: white;
  transition: 500ms;

}

#play-btn:hover {
  color: $primary;

}

pre {
  overflow:hidden;
}

.desc-div {
  cursor: default;
}

.intros {
  .video-box {
    position: relative;

    a {
      span {
        i {
          font-size: 6rem;
          color: $secondary;
        }
      }
    }
  }
}
