@use "../custom" as *;
@use "../components/mixins" as *;

.about {
  background: rgb(255,53,58);
  background: -moz-linear-gradient(180deg, rgba(255,53,58,1) 74%, rgba(168,42,42,1) 98%);
  background: -webkit-linear-gradient(180deg, rgba(255,53,58,1) 74%, rgba(168,42,42,1) 98%);
  background: linear-gradient(180deg, rgba(255,53,58,1) 74%, rgba(168,42,42,1) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff353a",endColorstr="#a82a2a",GradientType=1);
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;
  
  padding-bottom: 50px;

  .listen {
    text-decoration: none;
    
    .listen-button {
      @include media-breakpoint-down(md) {
        width: 75%;
        margin: auto;
      }

    }
  }
}

#intro-text {
  @include media-breakpoint-down(md) {
    margin-bottom: 15px;
  }
  
}

#play-btn {
  position: relative;
  top: 45px;
  color: white;

}

pre {
  overflow:auto;
}

.desc-div {
  font-weight: bold;
  cursor: default;
}

.intros {

  .video-box {
    position: relative;

    @include media-breakpoint-down(lg) {
      margin-top: 10%;
    }

    a {
      span {
        i {
          font-size: 6rem;
          color: $secondary;
        }
      }
    }
  }
}
