@use "../custom" as *;
@use "../components/mixins" as *;

.footer {
  padding-top: 1rem;
  background: rgb(255,53,58);
  background: -moz-linear-gradient(180deg, rgba(255,53,58,1) 48%, rgba(111,17,17,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,53,58,1) 48%, rgba(111,17,17,1) 100%);
  background: linear-gradient(180deg, rgba(255,53,58,1) 48%, rgba(111,17,17,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff353a",endColorstr="#6f1111",GradientType=1);
}

.footer-sm {
  font-weight: bold;
  
  a {
    color: $white;
    transition: 500ms;

    i {
      font-size: 1rem;
      margin-left: 1rem;

      @include media-breakpoint-up(sm) {
        font-size: 1.6rem;
      }
    }
    &:hover {
      color: $primary;
    }
  }
}

.footer-bottom {
  background-color: $black;

  &__copyright {
    color: $white;
    font-weight: bold;

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: $primary;
        text-decoration: underline;
      }
    }
  }
}


#social-media {
  display: flex;
  justify-content: center;

  .social-media-links {
    margin-right: 15px;
  }
}