@use "../custom" as *;
@use "../components/mixins" as *;

.navbar {
  min-height: 125px;

  .container {
    justify-content: center;
  }
  
}

.menu {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 54%, rgba(207,207,207,1) 92%);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 54%, rgba(207,207,207,1) 92%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 54%, rgba(207,207,207,1) 92%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#cfcfcf",GradientType=1);
  
}

.logo {
  max-width: 250px;

  @include media-breakpoint-down(md) {
    max-width: 200px;
  }

}

