@use "../custom" as *;
@use "../components/mixins" as *;

.navbar {
  min-height: 100px;
  
}

.menu {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 54%, rgba(207,207,207,1) 92%);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 54%, rgba(207,207,207,1) 92%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 54%, rgba(207,207,207,1) 92%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#cfcfcf",GradientType=1);
  

  li {
    padding: 0 0.7rem;

    a {
      padding: 0 0.7rem;
      text-transform: uppercase;
      font-weight: 600;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.logo {
  max-width: 200px;
  transition: 250ms;

  @include media-breakpoint-down(md) {
    max-width: 125px;
  }

}

.logo:hover {
  max-width: 225px;

  @include media-breakpoint-down(md) {
    max-width: 150px;
  }

}

.nav-item {
  color: $primary;
  
  @include media-breakpoint-down(md) {
    margin-top: 15px;
  }
}
  
.email-link {
  text-decoration: none;
  color: black;

}

#email-button:hover {
  .email-link {
    color: $primary;
  }
}