@use "../custom" as *;
@use "../components/mixins" as *;

.tech {
  background-color: $white;
  padding: 2rem 0 3rem 0;

  .tech-row {
    display: flex;
    justify-content: center;
  }

  .tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    color: $secondary;
    transition: 500ms;
    text-decoration: none;

    .tech-des {
      margin-top: 15px;
      text-align: center;
      font-weight: bold;
    }
  }

  .tech-item:hover {
    color: $primary;
  }

  &__logo-box {
    max-width: 100%;
    height: 3rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    text-align: center;
    position: relative;
  }

  img {
    min-width: 100px;
    max-height: 85px;

    &:hover {
      transform: scale(1.2);
      @include transitionProperty;
      filter: grayscale(110);
    }
  }
}
