@use "../custom" as *;
@use "../components/mixins" as *;



.videos {
  position: relative;
  padding: 0;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 67%, rgba(170,170,170,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 67%, rgba(170,170,170,1) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 67%, rgba(170,170,170,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#aaaaaa",GradientType=1);

  color: white;

  &__vid {
    background: rgb(85,128,255);
    background: -moz-radial-gradient(circle, rgba(85,128,255,1) 57%, rgba(59,87,171,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(85,128,255,1) 57%, rgba(59,87,171,1) 100%);
    background: radial-gradient(circle, rgba(85,128,255,1) 57%, rgba(59,87,171,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5580ff",endColorstr="#3b57ab",GradientType=1);
    padding: 2rem 1.25rem;
    border-radius: 0.625rem;
    height: auto;
    text-align: center;
    width: 75%;

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    .vid-container {
      width: 100%;

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      iframe {
        @include media-breakpoint-down(md) {
          width: 295px;
          height: 167px;
        }
      }
    }

    .vid-title {
      padding-inline: 10%;
      padding-bottom: 2%;
      font-weight: bold;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-shadow: 3px 3px #79000285;
    }

    p {
      padding-top: 2%;
      padding-inline: 15%;
    }
  }

  .button-container {
    padding: 1.25%;

    .fa-long-arrow-alt-left {
      height: 30px;
      width: 40px;
      position: relative;
      right: 0.25%;
    }

    .fa-long-arrow-alt-right {
      height: 30px;
      width: 40px;
      position: relative;
      left: 0.25%;
    }

    .btn {
      padding: 15px;

    }
  }
}
